*/*.o

aclocal.m4
autom4te.cache
Client/.deps
Client/Makefile
Client/Makefile.in
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
MSVC/SettingsGUI/.deps
MSVC/SettingsGui/Makefile
MSVC/SettingsGUI/Makefile.in
